@font-face {
    font-family: 'VT323';
    src: url("./fonts/VT323/VT323-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Geo';
    src: url("./fonts/Geo/Geo-Regular.ttf") format("truetype");
}

body {
	font-family: "Geo";
    background-image: url(./images/space-background.png);
    color:rgb(75, 243, 226);
}

body p, li{
    font-family: "VT323", monospace;
}

.logo {
	text-align:center;
	padding: 1.5%;
	width: 70%; /*remove the if box or layout breaks*/
	margin: 4% auto 0;
	background-color: rgba(138,43, 226, 0.65);
    border: 12px ridge turquoise; /*title + subtitle box*/
}

.about-me {
	text-align: center;
	margin-bottom: 20px;
	padding: 10px;
	background-color: rgba(0, 0, 3, 0.799);
}

.projects {
	border-top: 1px solid blueviolet;
	margin-top: 20px;
	background-color: rgba(0, 0, 3, 0.799);
    text-align: center;
}

.projects ul {
	display: flex;
	flex-direction: column;
}

.projects li {
	list-style-type: none;
	margin-bottom: 6px;
}

.projects a {
	text-decoration: none;
	color: red;
}

.projects h2 {
    text-align: center;
}
/* 
.character-tabs-top, .character-tabs-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:90%;
    height: 148px; //was: 300px
    border: 4px ridge turquoise;
    //border-radius: 5px;
    overflow:hidden;
    text-overflow: ellipsis;
    background-color: rgba(0, 0, 0, 0.85);
}

.character-tabs-top {
    margin: 6% auto 0;//was 6% auto
    border-bottom: none;
}

.character-tabs-bottom {
    margin: 0 auto 6%;
    border-top: none;
} */

.character-tabs-top li, 
.character-tabs-bottom li {
    list-style-type: none; 
    font-size: 230%; /*was 180*/
    padding-right: 3%;
   /* position:relative; this and "right" property absolutely blow, fix (padding issue on one side) later*/
    /*text overflow set in parent container, if it breaks try putting it back here*/
}

.character-tabs-top a, .character-tabs-bottom a {
    text-decoration: none;
    color: pink;
}

a:hover {
    color:rgb(200,85,200);
}

.social-media {
    border: 2px solid green;
    background-color: rgba(0, 128, 0, 0.35);
    list-style-type: none;
    width: 90%;
    height: 18px; /*18px=match li height. change if/when font size changes*/
    margin: 2% auto;
    position: relative;
}

.social-media li {
   /* border: 1px solid red;*/
    position: absolute;
    width: 10%; 
    letter-spacing: 4px;
    text-align: center;
    font-size:large ;
    /*remember to set text overflow*/
}

/*these social media things should probably be set to flex,
but i'm taking care of the character tabs first*/
#github {
    left: 0;
    bottom: 0;
    margin-left: 20%;
}

#linkedin {
    left: 44%;
    bottom: 0;
}

#cv-page {
    right: 0;
    bottom: 0;
    margin-right: 20%;
}

#end-credit {
    border: 2px solid blue;
    background-color: rgba(0,0,255,0.35);
    font-weight: lighter;
    text-align:center;
    width: 90%;
    margin: 6px auto;
}

